{% extends 'base.html' %}
{% block title  %}Litter {{ litter.litter }}{% endblock %}
{% load thumbnail %}
{% block content %}
	<center>
	<h3>{{ litter.litter }}</h3>
	<h4>Mother: {{ litter.mother }} x Father: {{ litter.father }}</h4>
	</center>
	<table class='table'>
		<tr>
			{% if litter.mother.photo %}
			<td>
				Mother:
				<img scr="{{ MEDIA_URL }}{{ litter.mother.photo }}" width=300 height=300>
			</td>
			{% endif %}
			{% if litter.father.photo %}
			<td>
				Father:
				<img scr="{{ MEDIA_URL }}{{ litter.father.photo }}" width=300 height=300>
			</td>
			{% endif %}
		</tr>	
		<tr><td>{{ litter.mother_health }}</td>
			<td>{{ litter.father_health }}</td>
		</tr>	
		<tr><td><a href={{ litter.mother_pedigree }}>Mother pedigree</a></td>
			<td><a href={{ litter.father_pedigree }}>Father pedigree</a></td>
		</tr>
		<tr><td colspan='2'>{{ litter.birthday }}</td></tr>
		<tr><td>{{ litter.amount }}</td></tr>
		
	</table>
	{% if litter.gallery.id %}
		<h3><a href="{% url 'gallery:album' litter.gallery.id 'thumbnails' %}">{{ litter.gallery.title }} </a> ({{ litter.gallery.image_set.count }} images)</h3>
		<ul>
		{% for img in litter.gallery.image_set.all %}
			{% thumbnail img '200x200' crop='center' as im %}
			<a href="{{ MEDIA_URL }}{{ img }}" rel="prettyPhoto[pp_gal]"><img src='{{ im.url }}' alt="{{ im.title }}" width="{{ im.width }}" height="{{ im.height }}" class='img-rounded'></a>
			{% endthumbnail %}
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}