{% extends 'base.html' %}
{% block title  %}Litter {{ litter.litter }}{% endblock %}

{% block content %}
	<center>
	<h3>{{ litter.litter }}</h3>
	<h4>Mother: {{ litter.mother }} x Father: {{ litter.father }}</h4>
	</center>
	<table class='table'>
		<tr>
			{% if litter.mother.photo %}
			<td>
				Mother:
				<img scr="{{ MEDIA_URL }}{{ litter.mother.photo }}" width=300 height=300>
			</td>
			{% endif %}
			{% if litter.father.photo %}
			<td>
				Father:
				<img scr="{{ MEDIA_URL }}{{ litter.father.photo }}" width=300 height=300>
			</td>
			{% endif %}
		</tr>	
		<tr><td>{{ litter.mother_health }}</td>
			<td>{{ litter.father_health }}</td>
		</tr>	
		<tr><td><a href={{ litter.mother_pedigree }}>Mother pedigree</a></td>
			<td><a href={{ litter.father_pedigree }}>Father pedigree</a></td>
		</tr>
		<tr><td colspan='2'>{{ litter.birthday }}</td></tr>
		<tr><td>{{ litter.amount }}</td></tr>
		<tr><td colspan='2'><a href="{% url 'photogallery:gallery' %}{{ litter.gallery.slug }}">Photogallery</a></td></tr>
	</table>

{% endblock %}