{% extends 'base.html' %}
{% load i18n %}
{% block title  %}Our puppies{% endblock %}
{% block content %}
{% for pupp in puppies %}
	<center>
	<h3><a href="{% url 'puppies:litter' pupp.id %}">{{ pupp.litter }}</a></3>
	<h2>{% trans 'Mother' %}: {{ pupp.mother }} x {% trans 'Father' %}: {{ pupp.father }}</h2>
	<p>Birthday: {{ pupp.birthday }}</p>
	<p>Amount: {{ pupp.amount }}</p>
	
	</center>
	{% if pupp.mother.photo %}
	{% trans 'Mother' %}:
	<img src="{{ MEDIA_URL }}{{ pupp.mother.photo }}" width=500 height=500>
	{% endif %}
	{% if pupp.father.photo %}
	{% trans 'Father:' %}
	<img src="{{ MEDIA_URL }}{{ pupp.father.photo }}" width=500 height=500>
	{% endif %}
	<div class='row-fluid'>
		<div class='offset8'><a href="{% url 'puppies:litter' pupp.id %}">More...</a></div>
	</div>
{% endfor %}
{% endblock %}