{% extends 'base.html' %}
{% block title  %}{{  offspring.name }}{% endblock %}
{% load thumbnail %}
{% block content %}
	<center>
	<h3>{{ offspring.name }}</h3>
	<h4>Mother: {{ offspring.mother }} x Father: {{ offspring.father }}</h4>
	<p>{{ offspring.birthday }} </p>
	{% if offspring.photo %}
	<img src="{{ MEDIA_URL }}{{ offspring.photo }}" width=500 height=500>
	{% endif %}
	</center>
	<p>{{ offspring.owner }}</p>
	<p>{{ offspring.city }}</p>
	<p>{{ offspring.sex }} </p>
	
	<p><a href={{ offspring.pedigree }}>Pedigree </a></p>
	<p>{{ offspring.hd }} </p>
	<p>{{ offspring.mdr1 }}</p>
	<p>{{ offspring.dm }}</p>
	<p>{{ offspring.titles }}</p>
	<p>{{ offspring.training }}</p>
	<p>{{ offspring.about_dog }}</p>
	<h3><a href="{% url 'gallery:album' offspring.gallery.id 'thumbnails' %}">{{ offspring.gallery.title }} </a> ({{ offspring.gallery.image_set.count }} images)</h3>
		<ul>
		{% for img in offspring.gallery.image_set.all %}
			{% thumbnail img '200x200' crop='center' as im %}
			<a href="{{ MEDIA_URL }}{{ img }}" rel="prettyPhoto[pp_gal]"><img src='{{ im.url }}' alt="{{ im.title }}" width="{{ im.width }}" height="{{ im.height }}" class='img-rounded'></a>
			{% endthumbnail %}
		{% endfor %}
		</ul>
	

{% endblock %}