{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
	
{% for n in all_news %}
	<h3>{{ n.title }}</h3>
	<center><a href='{{ MEDIA_URL}}{{n.photo}}' rel="prettyPhoto[pp_gal]"><img src='{{ MEDIA_URL}}{{n.photo}}' width=600 heigth=600 class='img-rounded'></a></center>
	<p>{{ n.body }}</p>
	<p align='right'>{{ n.pub_date }}</p>
{% endfor %}
 <div class='pagination'>
	<span class="step-links">
		{% if all_news.has_previous %}
			<a class="pagination-control left" href="?page={{ all_news.previous_page_number }}">&lsaquo;</a>
   		{% endif %}

   		<div class="pagination-current">
            Page {{ all_news.number }} of {{ all_news.paginator.num_pages }}.
        </div>

        {% if all_news.has_next %}
            <a class="pagination-control right" href="?page={{ all_news.next_page_number }}">&rsaquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}